-- ProductTransactionTrain
ALTER TABLE
  ProductTransactionTrain
ALTER COLUMN
  TransactionId INT NOT NULL;
ALTER TABLE
  ProductTransactionTrain
ALTER COLUMN
  LineId INT NOT NULL;
GO
ALTER TABLE ProductTransactionTrain
ADD CONSTRAINT PK_ProductTransactionTrain PRIMARY KEY CLUSTERED (TransactionId,LineId);  
GO 
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20190102-011902] ON [dbo].[ProductTransactionTrain]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- ProductTransaction
ALTER TABLE
  ProductTransaction
ALTER COLUMN
  TransactionId INT NOT NULL;
ALTER TABLE
  ProductTransaction
ALTER COLUMN
  LineId INT NOT NULL;
GO
ALTER TABLE ProductTransaction
ADD CONSTRAINT PK_ProductTransaction PRIMARY KEY CLUSTERED (TransactionId,LineId);  
GO 
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20190101-011902] ON [dbo].[ProductTransaction]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- TransactionsByDept
ALTER TABLE
  TransactionsByDept
ALTER COLUMN
  TransactionId INT NOT NULL;
ALTER TABLE
  TransactionsByDept
ALTER COLUMN
  LineId INT NOT NULL;
GO
ALTER TABLE TransactionsByDept
ADD CONSTRAINT PK_TransactionsByDept PRIMARY KEY CLUSTERED (TransactionId,LineId);  
GO 
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20190101-002852] ON [dbo].[TransactionsByDept]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- BakeryTransaction
ALTER TABLE
  BakeryTransaction
ALTER COLUMN
  TransactionId INT NOT NULL;
ALTER TABLE
  BakeryTransaction
ALTER COLUMN
  LineId INT NOT NULL;
GO
ALTER TABLE BakeryTransaction
ADD CONSTRAINT PK_BakeryTransaction PRIMARY KEY CLUSTERED (TransactionId,LineId);  
GO
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20190101-011831] ON [dbo].[BakeryTransaction]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- BakeryItem
ALTER TABLE
  BakeryItem
ALTER COLUMN
  ItemId INT NOT NULL;
GO
ALTER TABLE BakeryItem
ADD CONSTRAINT PK_BakeryItem PRIMARY KEY CLUSTERED (ItemId);  
GO 

-- Product
ALTER TABLE
  Product
ALTER COLUMN
  ItemId INT NOT NULL;
GO
ALTER TABLE Product
ADD CONSTRAINT PK_Product PRIMARY KEY CLUSTERED (ItemId);  
GO 